.mobile-menu-btn {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
  width: 40px;
  height: 40px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $brand-color;
  }

  @media screen and (min-width: 767.98px) {
    display: none;
  }

  &.is-open {
    &.icon-cross {
      display: block;
    }
  }

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}

.menu-container {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 0 48px 40px;
  background-color: $main-color;

  opacity: 0;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    pointer-events: all;
  }
}

.mobile-menu__link {
  @extend %basic-link;
  font-size: 40px;
  line-height: 1.18;

  &:focus {
    color: $brand-color;
  }
  &--active {
    color: $brand-color;
  }

  @media screen and (max-width: 400px) {
    font-size: 30px;
  }

  @media screen and (max-width: 350px) {
    font-size: 25px;
  }

  @media screen and (max-width: 300px) {
    font-size: 20px;
  }
}

.mobile-menu__item,
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts {
  display: block;
  margin-top: auto;
}

.mobile-contacts__link-tel {
  @extend %basic-link;
  font-size: 34px;
  line-height: 1.18;
  color: $brand-color;

  @media screen and (max-width: 400px) {
    font-size: 30px;
  }

  @media screen and (max-width: 350px) {
    font-size: 25px;
  }

  @media screen and (max-width: 300px) {
    font-size: 20px;
  }
}

.mobile-contacts__link-mail {
  @extend %basic-link;
  font-size: 24px;
  line-height: 1.17;
  color: $accent-text-color;

  @media screen and (max-width: 400px) {
    font-size: 20px;
  }

  @media screen and (max-width: 350px) {
    font-size: 15px;
  }

  @media screen and (max-width: 300px) {
    font-size: 10px;
  }
}

.mobile-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  bottom: 48px;
}

.mobile-social-list__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 20px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -10px;
      height: 22px;
      width: 1px;
      background-color: $main-text-color;
    }
  }
}

.mobile-social-list__link {
  @extend %basic-link;
  font-size: 18px;
  line-height: 1.2;
  color: $brand-color;

  @media screen and (max-width: 400px) {
    font-size: 15px;
  }

  @media screen and (max-width: 350px) {
    font-size: 12px;
  }

  @media screen and (max-width: 300px) {
    font-size: 8px;
  }
}
